.we 
{
	background: #425F9C;
}

.col-lg-6
{
width: 40%;
top: 8px;

}

.navbar-brand {
position: relative;
top: -8px;
}

.me
{
width: 37px;
}

.navbar-default .navbar-nav>li>a
{
color: #FFF;
}

.navbar-collapse>.nav
{
position: relative;
}

.navbar-collapse>.nav-pills>li>a
{
color: #333;
}

.navbar-collapse>.nav>li>a:hover, .nav>li>a:focus {
background-color: #3A548B;
}

.border-right{
border-right: 1px solid #534993
}

.nav-pills>li>a {
border-radius: 1px;
}

.left {

}

.main {

}

.right{
float:right;
}

.far-right{
}

.hamada{
float: right;
width: 140px;
}

.transparent{
background: #e9eaed;
}

.white{
background: #fff;
}

.btn-default {
background: transparent;
border: none;
}

.btn-group-vertical>.btn-group>.btn {
border: none;
}
.btn-group, .btn-group-vertical {
width: 100%;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-color: #CDCCCC;
}
.header1{
padding-top: 5px;
padding-bottom: 10px;
}

.header1>div{
text-align: center;
width:30%;
}

.padding0{
padding:0;
}

.footer1>ul>li>a{
color:#333;cursor:pointer
}

.ticker {
margin-left: -5px;
margin-top:15px;
height: 200px;
overflow-x: hidden;
overflow-y: hidden;
}

.ticker:hover {
overflow-y: scroll;
}

.ticker  ul>li{
border-bottom: solid 1px #ddd;
}

.ticker1 {
margin-left: -5px;
margin-top:10px;
height: 175px;
overflow-x: hidden;
overflow-y: hidden;
opacity: 0.6;
filter: alpha(opacity=60);	
}

.ticker1:hover {
overflow-y: scroll;
}

.ticker1  ul>li{
border-bottom: solid 1px #E9EAED;
}


.container-fluid {
padding-right: 0;
}

.ticker  ul>li>a>img{
height: 32px;
width: 32px;
}

.ticker  ul>li>div>span{
margin-right: 0;
font-weight: bold;
font-size: 12px;
line-height: 16px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.ticker  ul>li>div{
font-size: 12px;
line-height: 16px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.ticker1  ul>li>a>img{
height: 32px;
width: 32px;
}

.ticker1 ul>li>div>span{
margin-right: 0;
font-weight: bold;
font-size: 12px;
line-height: 16px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.ticker1  ul>li>div{
font-size: 12px;
line-height: 16px;
font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.row {
margin-left: 10px;
}

.carousel-control.left {
background: transparent;
}

.carousel-control.right {
background: transparent;
}

.carousel{
margin-bottom: 5px;
}

.fixed-right{
position:fixed;
right:-25px;
top:0;
}

.mouneer button
{
 font-size: 13px;
}

.effects
{
margin-left: 0;
border: 1px solid;
border-radius: 0px;
background: -webkit-linear-gradient(white, rgb(222, 222, 222));
background: -o-linear-gradient(white, rgb(222, 222, 222));
background: -moz-linear-gradient(white, rgb(222, 222, 222));
background: linear-gradient(white, rgb(222, 222, 222));
box-shadow: 0px 0px 6px #888888;
height: 30px;
line-height: 13px;
}

.effects1
{
height: 30px;
line-height: 13px;
background: #425F9C;
}

.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-color: #425F9C;
color:#fff;
}

.trsa>button{
    width: 75%;
}

.omtrsa{
    width: 105%;
}

.omtrsa>div {
    width: 90%;
}

.mouneer .badge{
    right: -7px;
    position: relative;
    font-weight: 100;
    background-color: transparent;
    color: #616161;
}

.omtrsa:hover .trs{
    visibility: visible;
}

.trs {
    top: 7px;
    left: -5px;
    float: left;
    visibility: hidden
}

.trsa:hover .trs{
    visibility: visible;
}

.dropdown {
    display:inline-block;
    margin-left:20px;
}


.glyphicon-bell {

    font-size:1.5rem;
}

.notifications {
    min-width:420px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color:#ff7788;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {
    margin-left: 70px;
    font-size:1.3rem;
    color:#000;
    line-height: 1.4;
    width: 80%;
}

.notifications a.content {
    text-decoration:none;
    background:#ccc;

}

.notification-item {
    border-bottom: 1px solid #E0DBDB;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    height: 77px;

}

.dropdown-menu {
    left:auto; /*to be ignored*/
    right: 0;
}

element.style {
}
.menu-title {
    color: #333;
    font-size: 1.5rem;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-menu .divider{
    margin: 0px 0;
}

.notification-item:hover{
    background:#F5F5F5;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color:transparent;
}

.navbar-collapse>.nav>li>a:hover, .nav>li>a:focus {
    color: #fff;
}

.notifications-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
}

.notifications-wrapper:hover {
    overflow-y: scroll;
}

.media-body a{

    color:rgb(66, 95, 156);
}